<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="hand-navbar">
      <h1><a class="black" href="/">LA COM<span class="navbar-title">MUNAUTÉ</span></a></h1>

      <div class="navbar-list">
       <a href="/work" class="black link">Métiers</a>
       <a href="/projects" class="black link">Réalisations</a>
       <a href="/team" class="black link">Équipe</a>
       <a href="/articles" class="black link">Articles</a>
       <a href="/contact" class="black link">Contact</a>
      </div>
    </div>
  </body>
</html>
