<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="hand-navbar px-5">
      <h3><a class="black" href="/">La Communauté</a></h3>

      <div class="navbar-list">
       <a href="#" class="black">Home</a>
       <a href="#" class="black">Réalisations</a>
       <a href="#" class="black">Équipe</a>
       <a href="#" class="black">Contact</a>
      </div>
    </div>
  </body>
</html>
