<!DOCTYPE html>
<html>
    <header>
      <h1><a class="black" href="/">LA COM<span class="navbar-title">MUNAUTÉ</span></a></h1>
      <nav>

        <a href="/work" class="black link">
          <span data-span="Métiers" class="link">
            Métiers
          </span>
        </a>
        <a href="/projects" class="black link">
          <span data-span="Réalisations" class="link">
            Réalisations
          </span>
        </a>
        <a href="/team" class="black link">
          <span data-span="Équipe" class="link">
            Équipe
          </span>
        </a>
        <a href="/articlesList" class="black link">
          <span data-span="Articles" class="link">
            Articles
          </span>
        </a>
        <a href="/contact" class="black link">
          <span data-span="Contact" class="link">
            Contact
          </span>
        </a>
      </nav>
    </header>
    <body>
    </body>
</html>
