<!DOCTYPE html>
<html>
    <header>
      <p id="navbar-title"><a class="black" href="/"><span class="navbar-title">LA COM</span>MUNAUTÉ</a></p>
      <nav>

        <a href="/work" class="black link">
          <span data-span="Métiers" class="link">
            Métiers
          </span>
        </a>
        <a href="/projects" class="black link">
          <span data-span="Réalisations" class="link">
            Réalisations
          </span>
        </a>
        <a href="/team" class="black link">
          <span data-span="Équipe" class="link">
            Équipe
          </span>
        </a>
        <a href="/articlesList" class="black link">
          <span data-span="Articles" class="link">
            Articles
          </span>
        </a>
        <button>
          <span data-span="Contact" onClick="decide()">
            Contact
          </span>
        </button>
      </nav>
    </header>
    <body>
    </body>
</html>
