<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="hand-navbar px-5">
      <h3><a class="black" href="/"> <span class="navbar-title">LA COM</span>MUNAUTÉ</a></h3>

      <div class="navbar-list">
       <a href="/" class="black">Accueil</a>
       <a href="/work" class="black">Notre Métier</a>
       <a href="/projects" class="black">Nos Travaux</a>
       <a href="/team" class="black">Notre Équipe</a>
       <a href="/articles" class="black">Articles</a>
       <a href="/contact" class="black">Contact</a>
      </div>
    </div>
  </body>
</html>
