<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/navbar') %>

    <div class="container">
        <h1>Page articles</h1>
        <p>Ici vous allez apprendre pleins de trucs et construire l'envie de nous donner beaucoup d'argent</p>
    </div>

    <!-- // ici le script va montrer les differents articles
    // <% for(let i = 0; i < 0; i++) { %>
    // il nous faut aussi des icones like sur les articles ainsi qu'une option pour le recevoir par mail
    <article>
        <a href="">
            <img src="" alt="">
        </a>
        <div>
            <title>Construire une stratégie Marketing</title>
            <p>
                <span>autheur: Nathan Bruyère sur les themes du marketing, référencement</span>
                <span>temps de lecture 8 minutes</span>
                Vous vous sentez frustré que votre stratégie de marketing de contenu ne semble pas donner de résultats?
                Il est peut-être temps de changer un peu les choses.
            </p>
            <button href="">Lire l'article</button>
        </div>
    </article>

    //<% }; %> -->

    <ul>
        <li class="article-card">
            <a href="">
                <img class="article-card-image"
                    src="https://www.successagency.com/growth/wp-content/uploads/2019/11/omnichannelmarketing-featured-470x340.jpg"
                    alt="">
            </a>
            <div class="description-article">
                <title>Construire une stratégie Marketing</title>
                <p>
                    <span>autheur:
                        <span>Nathan Bruyère</span>
                        <span>sur les themes du</span>
                        <span>Marketing<span>
                                <span>SEO<span>
                                    </span>
                                    <span class="article-card-readTime">temps de lecture 8 minutes</span>
                                    Vous vous sentez frustré que votre stratégie de marketing de contenu ne semble pas
                                    donner de
                                    résultats?
                                    Il est peut-être temps de changer un peu les choses.
                </p>
                <button href="">Lire l'article</button>
            </div>
        </li>
        <li class="article-card">
            <a href="">
                <img class="card-image"
                    src="https://www.successagency.com/growth/wp-content/uploads/2019/11/omnichannelmarketing-featured-470x340.jpg"
                    alt="">
            </a>
            <div class="description-article">
                <title>Construire une stratégie Marketing</title>
                <p>
                    <span>autheur: Nathan Bruyère sur les themes du marketing, référencement</span>
                    <span>temps de lecture 8 minutes</span>
                    Vous vous sentez frustré que votre stratégie de marketing de contenu ne semble pas donner de
                    résultats?
                    Il est peut-être temps de changer un peu les choses.
                </p>
                <button href="">Lire l'article</button>
            </div>
        </li>
        <li class="article-card">
            <a href="">
                <img class="card-image"
                    src="https://www.successagency.com/growth/wp-content/uploads/2019/11/omnichannelmarketing-featured-470x340.jpg"
                    alt="">
            </a>
            <div class="description-article">
                <title>Construire une stratégie Marketing</title>
                <p>
                    <span>autheur: Nathan Bruyère sur les themes du marketing, référencement</span>
                    <span>temps de lecture 8 minutes</span>
                    Vous vous sentez frustré que votre stratégie de marketing de contenu ne semble pas donner de
                    résultats?
                    Il est peut-être temps de changer un peu les choses.
                </p>
                <button href="">Lire l'article</button>
            </div>
        </li>
        <li class="article-card">
            <a href="">
                <img class="card-image"
                    src="https://www.successagency.com/growth/wp-content/uploads/2019/11/omnichannelmarketing-featured-470x340.jpg"
                    alt="">
            </a>
            <div class="description-article">
                <title>Construire une stratégie Marketing</title>
                <p>
                    <span>autheur: Nathan Bruyère sur les themes du marketing, référencement</span>
                    <span>temps de lecture 8 minutes</span>
                    Vous vous sentez frustré que votre stratégie de marketing de contenu ne semble pas donner de
                    résultats?
                    Il est peut-être temps de changer un peu les choses.
                </p>
                <button href="">Lire l'article</button>
            </div>
        </li>
    </ul>

</body>

</html>