<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./partials/navbar') %> 
    <div class="container">

      <h2>Nous contacter</h2>

      <form action="/contact" method="POST">
        <div>
          <div class="form-block">
            <label>Titre</label> <br/>
            <input type="text" class="form-input" placeholder="Email" name="email">
          </div>
          <div class="form-block">
            <label>Lieu</label> <br/>
            <input type="text" class="form-input" placeholder="Message" name="content">
          </div>
        </div>

        <button class="btn">Envoyer</button>
      </form>
      </div>
  </body>
</html>

