<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./partials/navbar') %> 
    <div class="container">

      <h2>Nous contacter</h2>

      <div class="victor">
        <form action="/contact" method="POST">
          <div>
            <div class="form-block">
              <label>Email</label> <br/>
              <input type="text" class="form-input" placeholder="exemple@gmail.com" name="email">
            </div>
            <div class="form-block">
              <label>Message</label> <br/>
              <textarea name="content" placeholder="Expliquez-nous votre besoin..."></textarea>
            </div>
          </div>

          <button class="btn">Envoyer</button>
        </form>
      </div>
      </div>
  <script src="/javascripts/script1.js"></script>
  </body>
</html>

