<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>


<body id="homepage">

  <main class="parallax">

    <div class="parallax-group">
      <div class="parallax-composant parallax-back un">
      </div>
      <div class="parallax-composant parallax-base">
      </div>
    </div>

    <div class="parallax-group">
      <div class="parallax-composant parallax-back">
      </div>
      <div class="parallax-composant parallax-base">
      </div>
    </div>

  </main>

</body>

</html>