
@font-face {
	font-family: "Didot";
	src: url('../fonts/Didot-Medium.ttf');
}
@font-face {
	font-family: "Didot";
	font-style: italic;
	src: url('../fonts/Didot-Ital.ttf');
}

body {
  font-family:  "Montserrat", Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Didot", Garamond, "Times New Roman", serif;
} 

*{
  box-sizing: border-box;
}


/* ===========================================================================================================
                                                 Générique
.color {
  color: rgb(14,18,43);
  color: rgb(218, 221, 242);
  color: rgb(140, 156, 255);
  color: rgb(179,153,68);
  color: rgb(255, 253, 247);
}

* {
	box-sizing: border-box;
}

/* =============================
                Générique
=============================== */
.black {
	color: black;
	text-decoration: none;
}
.black:hover {
	color: black;
	text-decoration: none;
}

.link {
	color: black;
}

.container {
	margin-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
	width: 80%;
	margin: auto;
	color: rgb
}

button {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 1.2rem;
	padding: 0.6em;
	border-radius: 8px;
	box-shadow: none;
	background-color: black;
	color: #fff;
	border: black;
}

button:focus {
	outline: none;
}

h1 {
	font-size: 2.5rem;
	margin-left: 15%;
}

/* =============================
                Navbar
=============================== */

header {
	display: flex;
	justify-content: space-between;
	padding: 2em;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 1.4em;
	width: 50%;
}

.navbar-title {
	font-weight: bold;
}

#navbar-title {
	font-size: 1.4rem;
}

header nav > a {
	overflow: hidden;
}

header nav a > span:first-child {
	position: relative;
	display: inline-block;
	transform: translateY(0);
	transition: transform 0.5s;
}

header nav a > span:after {
	transition: 0.5s linear;
	position: absolute;
	content: attr(data-span);
	top: 100%;
	left: 0;
	color: red;
	font-weight: bold;
}

header nav a > span:hover {
	transform: translateY(-100%);
}

/* =============================
                Form
=============================== */
.form-block {
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
}

input {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 0.7em;
	padding: 0.5em;
	width: 30em;
	margin-top: 0.5em;
	border: none;
	border-bottom: 1px solid #ccc;
}

input:focus {
	outline: none;
}

input {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 1rem;
	padding: 0.5em;
	width: 100%;
	margin-top: 0.5em;
	border: none;
}

input:focus {
	outline: none;
}

.form-block:after {
	display: flex;
	content: "";
	color: transparent;
	height: 2px;
	background-size: 200%;
	background-image: linear-gradient(to left, #cccccc 50%, red 50%);
	transition: background-position 0.5s 0.15s ease-out;
	background-position: right;
}

.form-block:focus-within:after {
	background-position: left;
}

textarea {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 1rem;
	padding: 0.5em;
	width: 100%;
	margin-top: 0.5em;
	border: none;
	resize: none;
	overflow: hidden;
	overflow-wrap: break-word;
}

textarea:focus {
	outline: none;
}

.victor {
	width: 40%;
}

/* ====================================
                Page LISTE ARTCILES
====================================*/

ul {
	padding-left: 5%;
	padding-right: 5%;
	margin-left: -35px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.article-card {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	min-width: 300px;
	width: 33%;
	padding-left: 35px;
	padding-bottom: 35px;
}

.card-image {
	height: 200px;
	object-fit: cover;
}

/* ====================================
                Page ARTCILE
 ======================================*/

.form-testing {
	height: 100%;
	width: 0%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	margin-top: 150px;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 2s;
	background-color: black;
}

.main-testing {
	transition: 2s;
	background-color: goldenrod;
}

.form-toggle {
	width: 40%;
	background-color: white;
}

.main-toggle {
	margin-right: 40%;
}

<<<<<<< HEAD

/* ===========================================================================================================
                                                 Homepage
============================================================================================================ */

#homepage{
  margin:0;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-composant {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax-group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

.parallax-base {
  transform: translateZ(0);
  background: rgba(218, 221, 242, 0.4);
}

.parallax-back {
  transform: translateZ(-1px) scale(2);
  background: blue;
}

.un {
  background: url("https://images.squarespace-cdn.com/content/5b0f605e697a98b4a292e4f0/1537306583123-NP6F7K0S2Y98ZNNETKVN/reussir-photographier-paysages.jpg?format=1500w&content-type=image%2Fjpeg") no-repeat;
  background-size: cover;

}
=======
/* =======================================================
                          TEAM
========================================================= */

.team-title {
	font-size: 600%;
	font-weight: lighter;
	margin-bottom: 10%;
}

.person {
	width: 30%;
	margin: auto;
}

.portrait {
	width: 100%;
}

.job-title {
	font-size: 140%;
	margin: auto;
	text-align: center;
	margin-top: 3%;
}

.name {
	font-size: 400%;
	margin: auto;
	text-align: center;
	margin-top: 8%;
}

.presentation {
	font-size: 133%;
	text-align: center;
	margin: 1em;
}

.team-row {
	display: flex;
}
>>>>>>> 6269b6d86bed0d27ee906b9b7b03e2c29a2b7bac
