body {
  font: 14px "Montserrat", Arial, sans-serif;
}

*{
  box-sizing: border-box;
}



/* =============================
              Générique
=============================== */
.black{
  color: black;
  text-decoration: none;
}
.black:hover{
  color: black;
  text-decoration: none;
}

.link:hover{
  font-weight: bold;
}

.container{
  margin-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}

button{
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.4em;
  padding: 0.6em;
  border-radius: 8px;
  box-shadow: none;
  background-color: black;
  color: #ccc;
  border: black;
}

/* =============================
              Navbar
=============================== */

.hand-navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.navbar-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.4em;
  width: 40%;
}

.navbar-title{
  font-weight: lighter ;
}

/* =============================
              Form
=============================== */
.form-block{
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
}

input{
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1rem;
  padding: 0.5em;
  width: 100%;
  margin-top: 0.5em;
  border: none;
}

input:focus{
  outline: none;
}

.form-block:after{
  display: flex;
  content: "";
  color: transparent;
  height: 2px;
  background-size: 200%;
  background-image: linear-gradient(to left, #cccccc 50%, red 50% );
  transition: background-position .5s .15s ease-out;
  background-position: right;
}

.form-block:focus-within:after{
  background-position: left;
}


textarea{
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1rem;
  padding: 0.5em;
  width: 100%;
  margin-top: 0.5em;
  border: none;
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
}

textarea:focus{
  outline: none;
}

.victor{
  width: 40%;
}