body {
  font: 14px "Montserrat", Arial, sans-serif;
}


/* =============================
              Générique
=============================== */
.black{
  color: black;
  text-decoration: none;
}
.black:hover{
  color: black;
  text-decoration: none;
}

.link:hover{
  font-weight: bold;
}

.container{
  margin-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}

/* =============================
              Navbar
=============================== */

.hand-navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.navbar-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.4em;
  width: 40%;
}

.navbar-title{
  font-weight: lighter ;
}